<h1>Editing Topic</h1>

<%= render 'form', topic: @topic %>

<%= link_to 'Destroy', chapter_topic_path, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger"%>
<%= link_to 'Show', chapter_topic_path, :class => "btn btn-info" %> |
<%= link_to 'Back', chapters_path, :class => "btn btn-warning" %>
