<h1>Topics</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.number %></td>
        <td><%= topic.title %></td>
        <td><%= link_to 'Add Slide', new_topic_slide_path(topic), :class => "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
