<p>
  <strong>Number:</strong>
  <%= @topic.number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<%= link_to 'Edit', edit_chapter_topic_path(@topic.chapter) %> |
<%= link_to 'Back', chapters_path %>
