<h1>Editing Problem</h1>

<%= render 'form', problem: @problem %>

<%= link_to 'Show', section_problem_path(@problem), :class => 'btn btn-info' %> |
<%= link_to 'Back', section_problems_path(@problem.section), :class => 'btn btn-danger' %>
