<title><%=@user.email%></title>
<% if @user == current_user || current_user.admin? %>
<ul class="users">
  <div class="border-form-div">
    <li>
      <br><%= @user.email %>
      <br><br><%= link_to 'Destroy', user_destroy_path(@user.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %> | <%= link_to "Back", :back ,  :class => "btn btn-warning"%>
    </li>
  </div>
</ul>
<% else %>
<h1>Sorry, you cannot see other users information.</h1>
<% end %>
